/* hello world */

body {
// debug with: background: #0f0 !important;
}

#showpw, #hidepw {margin-top: 5px;}
#password[type=password] ~#hidepw {
    display: none;
}
#password[type=text] ~#showpw {
    display: none;
}

#showpwrep, #hidepwrep {margin-top: 5px;}
#passwordrep[type=password] ~#hidepwrep {
    display: none;
}
#passwordrep[type=text] ~#showpwrep {
    display: none;
}