/* hello world */

body {
// debug with: background: #0f0 !important;
}

#showpw, #hidepw {margin-top: 5px;}
#password[type=password] ~#hidepw {
    display: none;
}
#password[type=text] ~#showpw {
    display: none;
}

#showpwrep, #hidepwrep {margin-top: 5px;}
#passwordrep[type=password] ~#hidepwrep {
    display: none;
}
#passwordrep[type=text] ~#showpwrep {
    display: none;
}

/*003-shared-boxes*/
#list-of-shared-boxes, #list-of-search-results {margin-top: 10px; margin-bottom: 10px}