/* hello world */

body {
// debug with: background: #0f0 !important;
}

#showpw, #hidepw {margin-top: 5px;}
#password[type=password] ~#hidepw {
    display: none;
}
#password[type=text] ~#showpw {
    display: none;
}

#showpwrep, #hidepwrep {margin-top: 5px;}
#passwordrep[type=password] ~#hidepwrep {
    display: none;
}
#passwordrep[type=text] ~#showpwrep {
    display: none;
}

/***
    shells of css classes to be styled situationally by javascript?
    or as a tag;

    one tag;
    to rule them all;
    one tag;
    to find them;
    one tag;
    to bring them all;
    and in the darkness bind them.

    in the browser-DOM, where shadows lie.

    (editor: meaning show/hide them all etc.)
    (note: with current .remove logic having a css definition is not, in fact, necessary. TODO )
 ***/

.remove-when-logged-in {
}
.remove-when-logged-out {
}

/***
   For documentation purposes: css classes used for tagging-for-injecting purposes
 */

.insert-username-here {}
.insert-user-first-name-here {}
.insert-user-last-name-here {}



/*003-shared-boxes*/
#list-of-shared-boxes, #list-of-search-results {margin-top: 10px; margin-bottom: 10px}

.img-w-margin {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}